<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- this bean must not be lazily initialized if the exporting is to happen -->
	<bean id="exporter" class="org.springframework.jmx.export.MBeanExporter"
		lazy-init="false">
		<property name="registrationBehaviorName" value="REGISTRATION_REPLACE_EXISTING" />
		<property name="beans">
			<map>
				<entry key="bean:name=testBean_1" value-ref="testBean" />
			</map>
		</property>
	</bean>
	<bean id="testBean"
		class="com.softwareag.wx.platformMonitoring.jmx.spring.JmxTestMBean">
		<property name="name" value="TEST" />
		<property name="age" value="100" />
	</bean>
</beans>