td.is-state-unknown {
  backround-color: rgb(176, 176, 176);
  border: 1px solid rgb(140, 134, 134);
}

td.is-state-ok {
  background-color: rgb(129, 215, 148);
  border: 1px solid rgb(104, 163, 117);
}

td.is-state-nok {
  background-color: rgb(221, 116, 116);
  border: 1px solid rgb(158, 89, 89);
}
