td.is-state-unknown {
  backround-color: rgb(176, 176, 176);
  border: 1px solid rgb(140, 134, 134);
}

td.is-state-ok {
  background-color: rgb(129, 215, 148);
  border: 1px solid rgb(104, 163, 117);
}

td.is-state-nok {
  background-color: rgb(221, 116, 116);
  border: 1px solid rgb(158, 89, 89);
}

span.tiny {
  font-size:1.5em;
  vertical-align: bottom;
}

span.is-inactive {
  color: grey;
}

td.status-details {
  text-align: center;;
}

td.status-edit {
  text-align: center;;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/material.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}


/* fallback */
/*@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/roboto/Roboto-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}*/
