body {
  font-size: 1em;
}

.wx-json-formatter {
  font-size: 1.2em;
}

.wx-response-modal h4 {
  font-size: 1.3em;
}

.wx-response-modal-bold {
    font-weight: bold;
}

tbody.overview tr td{
  padding: 0.1em 0.5em;
}

tbody.overview tr td.icons {
  padding: 0.25em 0.25em 0.25em 1.0em;
  text-align: center;
}

thead.overview tr th {
  background-color: #e5e5e4;
  font-weight: normal;
  /*border-style: solid;
  border-color: #acacac;*/
}

div.overview {
  width: auto;
  padding-right: 10px;
}

div.pure-g {
	margin-top: 5px;
}

div.overview .heading {
  display:flex;
align-items: center; /* Vertical center alignment */
}

div.overview-right {
  width: auto;
  padding: 0px;
}

td.is-state-unknown {
  backround-color: rgb(176, 176, 176);
  border: 1px solid rgb(140, 134, 134);
}

td.is-state-ok {
  background-color: #5eb95e;
  border: 1px solid #40a640;
}

td.is-state-nok {
  background-color: #dd514c;
  border: 1px solid #c23a35;
}

span.tiny {
  font-size:1.5em;
  vertical-align: bottom;
}

span.is-inactive {
  color: grey;
}

td.status-details {
  text-align: center;
}

td.status-edit {
  text-align: center;
}

span.is-link {
  cursor: pointer;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/material.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}


/* fallback */
/*@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/roboto/Roboto-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}*/
